:root {
	--NavbarWidth: 43; /* How wide the non-tab section is */

	--dark-theme-background: rgb(11,11,11) !important; /* Darker background in reader mode */
	--toolbar-start-end-padding: 3px !important;
}

@media screen and (max-width:849px) {	/* Two row layout */
	/* No clue what the 2px is from, but it's needed for symmetry */
	#urlbar[breakout-extend] { width: calc(100vw - 2 * var(--urlbar-margin-inline) + 2 * var(--urlbar-container-padding)) !important; }
}

@media screen and (min-width:850px) {    /* One row layout */
	#nav-bar {
		margin-top: calc(0px - var(--tab-min-height) - var(--tab-block-margin)) !important;
		height: calc(var(--tab-min-height) + var(--tab-block-margin) * 1px);
	}

	#urlbar-container { 
		flex-basis: 0 !important;
		margin-inline: 0 !important;
	}

	@media screen and (min-width:850px) and (max-width:1324px) {    /* Both the tabs space and the navbar will grow */
		#TabsToolbar { margin-left: calc(var(--NavbarWidth) * 1vw) !important; }

		#nav-bar { margin-right: calc(100vw - var(--NavbarWidth) * 1vw) !important; }

		#urlbar[breakout-extend] { width: calc(var(--NavbarWidth) * 1vw - var(--urlbar-margin-inline)) !important; }
	}

	@media screen and (min-width:1325px) {    /* Only the tabs space will grow from here */
		#TabsToolbar { margin-left: calc(1325px / 100 * var(--NavbarWidth)) !important; }

		#nav-bar { margin-right: calc(100vw - calc(1325px / 100 * var(--NavbarWidth))) !important; }

		#urlbar[breakout-extend] { width: calc(1325px / 100 * var(--NavbarWidth) - var(--urlbar-margin-inline)) !important; }
	}
}

#PanelUI-button { order: 1; }
#nav-bar-customization-target { order: 2; }

#PanelUI-menu-button,
#unified-extensions-button,
#back-button,
#forward-button,
#reload-button,
#stop-button {
	padding: 0 !important;
}

/* * * *
 * All tabs button
 * * * */
#TabsToolbar-customization-target  { counter-reset: tabCount; }
.tabbrowser-tab { counter-increment: tabCount; }

#alltabs-button>.toolbarbutton-badge-stack::before  {
	content: counter(tabCount);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#alltabs-button .toolbarbutton-icon {
	position: relative;
	top: 40%;
}


/* * * *
 * Compact nav bar when not hovering
 * * * */
#PanelUI-button,	/* Defaults */
#nav-bar-customization-target :is(
	#forward-button,
	#back-button,
	#reload-button,
	#identity-permission-box[hasPermissions])
{
	visibility: collapse;
}

#stop-reload-button {
	padding-left: var(--toolbarbutton-inner-padding);
}

#unified-extensions-button { width: 0; opacity: 0; } /* The extension menus need the button present to anchor off */
#urlbar-container { padding-left: 8px; margin-right: 4px }


html:hover:has(#browser:not(:hover))
	{
		& :is( #PanelUI-button,
		#nav-bar-customization-target :is(
			#forward-button,
			#back-button,
			#reload-button,
			#identity-permission-box[hasPermissions]))
			{
				visibility: visible;
			}
			
		#stop-reload-button {
			padding-left: 0;
		}

		#unified-extensions-button {
			width: initial;
			opacity: 1;
		}

		#urlbar-container { padding-left: 0 !important; margin-right: 0 !important; }
	}



/* * * *
 * Small extension menu
 * * * */
#unified-extensions-view {
	--uei-icon-size: 25px;
	--icons-per-row: 3;
	width: 100% !important;
}

#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header + toolbarseparator,
#unified-extensions-view .panel-subview-body + toolbarseparator,
#unified-extensions-view #unified-extensions-manage-extensions,
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton,
#unified-extensions-view .unified-extensions-item-action-button .unified-extensions-item-contents{
	display:none !important;
}

#unified-extensions-view #overflowed-extensions-list,
#unified-extensions-view #unified-extensions-area,
#unified-extensions-view .unified-extensions-list {
	display: grid !important;
	grid-template-columns: repeat(var(--icons-per-row), auto);
}

#unified-extensions-view #unified-extensions-area {
	padding-bottom: 3px !important;
	border-bottom: 1px solid #aeaeae33 !important;
}

#unified-extensions-view,
.unified-extensions-item-action-button,
.unified-extensions-item-icon,
.unified-extensions-item .webextension-browser-action.subviewbutton > .toolbarbutton-badge-stack {
	margin: 0 auto !important;
	padding: 2px !important;
}

.unified-extensions-item-action-button {
	overflow: visible !important;
}

.unified-extensions-item-action-button .toolbarbutton-badge-stack {
	padding: 4px !important;
}


/* * * *
 * Make tab close buttons appear on hover, replacing the tab icon
 * * * */
.tab-content{ pointer-events: none }
.tab-icon-image:not([busy]) { display: block !important; }

:where(.tab-content:hover) .tab-icon-image,
:where(.tab-content:hover) > .tab-icon-stack{
	visibility: hidden;
}
.tab-close-button{
	order: -1;
	display: flex !important;
	position: relative;
	margin-inline: -4px -20px !important;
	padding-inline-start: 7px !important;
	opacity: 0;
	width: unset !important;
	pointer-events: auto;
}
.tab-close-button:hover { opacity: 1; }
.tabbrowser-tab[pinned] .tab-close-button { display: none !important; }

/* * * *
 * Misc
 * * * */

/* Clean urlbar */
#nav-bar,
#urlbar-background,
#searchbar {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
#urlbar[breakout-extend] {
	position: fixed !important;
	left: 8px !important;
	top: 5px !important;
}
#urlbar[breakout-extend] > #urlbar-background { background-color: Field !important; }
#urlbar[breakout-extend] #tracking-protection-icon-container,
#urlbar[breakout-extend] #identity-box {
	display: none !important;
}

/* The line above container tabs */
.tab-context-line { border-radius: 0 0 5px 5px !important; }

/* Instead of hamburger show the private browsing icon */
#main-window[privatebrowsingmode="temporary"] #PanelUI-menu-button > .toolbarbutton-badge-stack {
	list-style-image: url("chrome://global/skin/icons/indicator-private-browsing.svg");
}
#main-window[privatebrowsingmode="temporary"] #navigator-toolbox {
	background-color: #25003E !important;
	--tab-selected-bgcolor: #8000D7 !important;
}

/* Clean Private Newtab page */
html:has(#TabsToolbar tab[label="about:privatebrowsing"][selected="true"]) #browser {
	background-color: #25003E !important;

	& > #tabbrowser-tabbox { content-visibility: hidden; }	/* TODO: Flash */
}

/* Remove the rainbow separator from the hamburger */
#appMenu-fxa-separator { border-image:none !important; }

/* Remove the line between the urlbar and the tabs */
tabs#tabbrowser-tabs { border: none !important }

/* Search with X */
#urlbar-input::placeholder { opacity: 0 !important; }

/* Drag windows */
/* toolbarbutton { -moz-window-dragging: drag; } */

.urlbar-input-box,#urlbar-input,#urlbar-scheme,#urlbar-container{
	-moz-window-dragging: drag;
	cursor: default;
}
#urlbar-input-container > box,
#page-action-buttons,
#urlbar-container:focus-within,
#urlbar-container:focus-within :is(.urlbar-input-box,#urlbar-input,#urlbar-scheme,#urlbar-container){
	-moz-window-dragging: no-drag;
	cursor: auto;
}

#tracking-protection-icon-container,
#firefox-view-button,
#picture-in-picture-button,
.search-panel-one-offs-header,				/* 'This time search with' */
#urlbar-anon-search-settings, 				/* Settings in the search box */
#private-browsing-indicator-with-label,		/* Private label */
toolbarbutton#scrollbutton-up,				/* Scroll indicators when the window is too narrow */
toolbarbutton#scrollbutton-down,
#userContext-icons,							/* Container tab */
#pageAction-urlbar-jid1-xufzosoflzsoxg_jetpack,	/* RES badge */
.titlebar-buttonbox-container,				/* Close, maximise, etc buttons */
#tabs-newtab-button,						/* New tab */
#new-tab-button,							/* IDK why there's 2 */
.titlebar-spacer[type="post-tabs"],			/* Space between down arrow and quit */
.titlebar-spacer[type="pre-tabs"],			/* Space on the left before tabs (only noticeable in 2 line mode) */
#save-to-pocket-button,						/* Pocket */
toolbarspring,								/* Toolbar spacers */
#fullscreen-warning,						/* Fullscreen warning */
#star-button-box,							/* Bookmark button */
#pageAction-urlbar-_testpilot-containers,	/* Containers button */
#fxa-toolbar-menu-button,					/* Mozilla account */
#nav-bar-overflow-button,					/* Show the things I've hidden */
#urlbar-go-button,							/* Search/goto button in url bar (Pointless)*/
#blocked-permissions-container,				/* No camera etc. Still shows the switch dropdown */
#downloads-button,							/* Downloads popup & Button */
#home-button,
#pageActionButton,							/* Add to container dropdown */
.urlbarView-button-menu,					/* 3 dots in search results */


/* * * *
 * Right click menus
 * * * */
/* Generic */
#context-navigation,
#context-sep-navigation,
#context-savepage,
#context-pocket,
#context-sendpagetodevice,
#context-selectall,
#context-sep-selectall,
#context-take-screenshot,
#context-sep-screenshots,
#context-viewsource,
#context-inspect-a11y,
#context-media-eme-separator,

/* On link */
#context-openlinkinusercontext-menu,
#context-savelink,
#context-bookmarklink,
#context-savelinktopocket,
#context-sendlinktodevice,
#context-sep-open,
#frame-sep,

/* Highlighted Text */
#context-print-selection,
#context-viewpartialsource-selection,

/* On image */
#context-viewimage,
#context-saveimage,
#context-sendimage,
#context-sep-setbackground,
#context-setDesktopBackground,

/* On text field */
#context-undo,
#context-redo,
#context-sep-redo,
#context-copy,
#context-paste,
#context-delete,
#context-selectall,
#context-sep-selectall,
#context-keywordfield,
#spell-check-enabled,
#inspect-separator,

/* On video */
#context-media-playbackrate,
#context-media-showcontrols,
#context-media-sep-video-commands,
#context-video-pictureinpicture,
#context-video-saveimage,
#context-savevideo,
#context-sendvideo,

/* On tab */
#context_openANewTab,
#context_bookmarkTab,
#context_moveTabOptions,
#context_sendTabToDevice,
#context_reopenInContainer,
#context_seletAllTabs,
#context_closeTab,
#context_closeTabOptions,
#context_undoCloseTab,
#context_pinTab,
#tabContextMenu menuseparator,

/* Generic toolbar button */
#toolbar-context-menu,

/* On extensions */
.unified-extensions-context-menu-pin-to-toolbar,
.unified-extensions-context-menu-remove-extension,
.unified-extensions-context-menu-report-extension,

/* Misc extensions */
#_446900e4-71c2-419f-a6a7-df9c091e268b_-menuitem-_root, 		/* Bitwarden */
#_testpilot-containers-menuitem-20,
#ublock0_raymondhill_net-menuitem-_uBlock0-blockElement,		/* uBlock - block element */
menu[label*="Zotero"],
menuitem[label*="Zotero"],


#dummy
{
	display: none !important;
}
